{% extends 'base.html' %}

{% block body %}
    <form method="get">
    <center>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                Sort by
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    {% for param in sort_params %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sort_parameter"
                                   id="{{ param[1] }}"
                                   value="{{ param[1] }}">
                            <label class="form-check-label" for="{{ param[1] }}">
                                {{ param[0] }}
                            </label>
                        </div>
                    {% endfor %}
                </li>
            </ul>
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                Category
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    {% for category in categories %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category_parameter"
                                   id="{{ category }}"
                                   value="{{ category }}">
                            <label class="form-check-label" for="{{ category }}">
                                {{ category }}
                            </label>
                        </div>
                    {% endfor %}
                </li>
            </ul>
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                Gender
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    {% for gender in genders %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender_parameter"
                                   id="{{ gender }}"
                                   value="{{ gender }}">
                            <label class="form-check-label" for="{{ gender }}">
                                {{ gender }}
                            </label>
                        </div>
                    {% endfor %}
                </li>
            </ul>
            <button class="btn btn-primary" type="submit">Sort</button>
        </div>
    </center>
    </form>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 row-cols-md-4">
                {% for product in products%}
                    <div class="col">
                        <a href="{{ url_for('product', id=product[6]) }}" class="link-dark"
                           style="text-decoration: none;">
                            <div class="card shadow-sm">
                                <div style="overflow: hidden; height: 300px;">
                                    <img src="{{ product[5] }}"
                                         alt="{{ product[0] }}"
                                         style="width: 100%; height: 100%; object-fit: cover">
                                </div>
                                <center>
                                    <div class="card-body" style="background-color: lightgray">
                                        <p class="card-text">{{ product[0] }}</p>
                                        <p class="card-text">{{ product[4] }}</p>
                                        <div style="padding-top: 10px;">
                                            {% if not product[7] %}
                                                <a href="{{ url_for('add_to_favourite', product_id=product[6]) }}?url_from={{ url_for('main_page') }}"
                                                   class="btn btn-outline-danger">+ favourite</a>
                                            {% else %}
                                                <a href="{{ url_for('delete_from_favourite', product_id=product[6]) }}?url_from={{ url_for('main_page') }}"
                                                   class="btn btn-danger">- favourite</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}