{% extends 'base.html' %}
{% block body %}
    <br><br><br>
    <form class="registration-form" method="post" onsubmit="checkRegForm(event)">
        <div class="mb-3">
            <label for="first_name" class="form-label">First name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Regina">
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Igtisamova">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
            >
        </div>
        <div class="mb-3">
            <label for="phone_num" class="form-label">Phone number</label>
            <input type="text" class="form-control" id="phone_num" name="phone_num" placeholder="8 800 800 80 80"
                   maxlength="11"
            >
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
        </div>
        <div class="mb-3">
            <label for="conf_password" class="form-label">Confirm password</label>
            <input type="password" class="form-control" id="conf_password" name="conf_password" placeholder="password">
        </div>
        <button class="btn btn-primary auth-btn" type="submit">Register</button>
        <a class="text-decoration-none href-auth" href="/login">If you have account</a>
    </form>
{% endblock %}